@charset "utf-8";
/*全局基本样式*/
*{margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;}
body{font-size:15px;
background-color: #f6f8f9;
color:#202122;}
style{display:none;}
html{
-webkit-text-size-adjust:100%;
-ms-text-size-adjust: 100%;}
:after,:before{-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;}
a{text-decoration:none;
color:#3855d5;
text-decoration: none;}
img{transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;}
input[type=text], input[type=password], input[type=email], textarea,select {
    background: #FFF;
    border: 1px solid #333333;
    padding: 7px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:disabled,textarea:disabled{
	background-color: #F3f3f3;
}
button{
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	width: auto;
	border-radius: 2px;
	padding: 0px 10px;
	cursor: pointer;
}
@media print {
	a,a:visited{text-decoration:underline;}
	a[href]:after{content:" (" attr(href) ")";}
	abbr[title]:after{content:" (" attr(title) ")";}
	a[href^="#"]:after,
	a[href^="javascript:"]:after{content:"";}
	thead{display:table-header-group;}
	tr,img{page-break-inside: avoid;}
	img{max-width:100% !important;}
	p,h2,h3{orphans:3;
	widows:3;}
	h2,h3{page-break-after: avoid;}
	.table{border-collapse: collapse !important;}
	.table td,.table th{background-color: #fff !important;}
}
::-webkit-scrollbar {
    width: 5px; /* 纵向滚动条*/
    height: 5px; /* 横向滚动条 */
    background-color: #fff;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #ccc;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #b8b8b8;
    border-radius: 10px;
}
.col-1{
	width: 10%;
}
.col-2{
	width: 20%;
}
.col-25{
	width: 25%;
}
.col-3{
	width: 30%;
}
.col-33{
	width: 33.3333%;
}
.col-4{
	width: 40%;
}
.col-5{
	width: 50%;
}
.col-6{
	width: 60%;
}
.col-7{
	width: 70%;
}
.col-8{
	width: 80%;
}
.col-9{
	width: 90%;
}
.col-10{
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.padding{
	padding:10px;
	
}
.overflow-hidden{
	overflow: hidden;
}
.margin-top{
	margin-top: 20px;
}
.margin-top-sm{
	margin-top: 10px;
	
}
.radius{
	border-radius: 4px;
}
.text-red{
	color: #d93444 !important;
}
.text-green{
	color: #11ba47 !important;
}
.text-orange{
	color: #f36134 !important;
}
.text-black{
	color: #000000 !important;
}
.red{
	background-color: #d93444 !important;
}
.green{
	background-color: #11ba47 !important;
}
.orange{
	background-color: #f36134 !important;
}
.status-red{
	color: #d93444 !important;
	background: rgba(217,52,68,0.05) !important;
}
.status-green{
	color: #11ba47 !important;
	background: rgba(17,186,71,0.05) !important;
}
.status-orange{
	color: #f36134 !important;
	background: rgba(243,97,52,0.05) !important;
}
.status-gray{
	background: rgba(0,0,0,0.05) !important;
}
.header-top{
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	box-shadow: 0 6px 14px 0 rgb(227 233 237 / 35%);
	color: #000;
	padding: 0 48px;
	top: 0;
	left: 0;
}
.text-center{
	text-align: center;
}
.logo{
	float: left;
	padding-top: 10px;
}
.logo img{
	height: 40px;
}
.user{
	float: right;
	padding-top:12.5px;
	position: relative;
}
.user img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.top-links{
	float: right;
	line-height: 60px;
	padding: 0 15px;
}
.top-links a{
	color: #000000;
	margin-right: 10px;
}
.top-links a i{
	font-size: 18px;
	margin-right: 5px;
}
.header-left{
	width: 240px;
	height: calc(100vh - 60px);
	position: fixed;
	z-index: 990;
	top: 60px;
	left: 0px;
	background-color: #fff;
	overflow: auto;
}
.user-info{
	padding-top: 40px;
	text-align: center;
}
.user-info img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.user-rand{
	padding: 10px 0px;
}
.user-rand span{
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 5px;
	color: #fff;
	background-color: #ba21a8;
}
.user-title{
	font-weight: bold;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 10px;
}
.post{
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.post-to{
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	padding: 9px 38px;
	border-radius: 9px;
	background: #3855d5;
	border-color: #3855d5;
	box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
	color: #fff;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
}
.menu{
	margin-top: 30px;
	font-size: 14px;
	padding: 0px 40px 30px 40px;
}
.menu-box{
	padding: 10px 0px;
	width: 100%;
	line-height: 25px;
}
.menu-box a{
	color: #333333;
}
.active{
	color:#3855d5 !important;
}
.menu-box a i{
	margin-right: 10px;
}
.menu-box a i.icon-moreunfold{
	float: right;
}
.menu-box .menu-sub a{
	color: #333
}
.menu-sub{
	padding: 10px 0px;
	text-indent: 1.8em;
	display: none;
}
.menu-sub-box{
	padding: 5px 0px;
}
.data-box{
	background-color: #fff;
	border-radius: 8px;
	width: 100%;
	overflow: hidden;
	padding: 32px 24px;
}
.main{
	width: calc(100% - 240px);
	padding-top: 80px;
	float: right;
}
.loading{
	width: 100%;
	height: calc(100vh - 100px);
	text-align: center;
	position: relative;
	background: #fff;
}
.loading-main{
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
}
.loading-main img{
	width: 60px;
	height: 60px;
}
.content{
	padding: 0px 48px;
	width: 100%;
}
.data-box-title{
	width: 100%;
}
.data-box-title h4{
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
}
.data-box-title a{
	float: right;
	color: #666;
	font-weight: normal;
	font-size: 14px;
}
.total-data-box{
	background: #f6f8f9;
	border-radius: 5px;
	padding: 18px 24px 18px 24px;
}
.total-data-box p{
	color: #666;
	font-size: 14px;
	line-height: 14px;
}
.total-data-box h5{
	color: #000;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	padding: 12px 0;
	transition: all .2s;
}
.notice{
	padding-top: 10px;
}
.notice-box{
	
	padding: 5px 0px;;
	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.notice-box a{
	color: #000;
	line-height: 15px;
}
.notice-box a span{
	font-weight: bold;
	margin-right: 10px;
}
.web-links-main{
	padding-top:20px;
	width: calc(100% + 10px);
	margin-left: -5px;
}
.web-links-box{
	padding: 5px;
}
.web-links-box a{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	background: #f6f8f9;
	color: #000;
}
.assets{
	color: #e61f18 !important;
}
.index-archives{
	margin-top: 10px;
	min-height: 320px;
}
.index-archives-box{
	padding: 15px 0px;
	
}
.index-archives-box a{
	color: #000;
}
.index-archives-img img{
	display: block;
	width: 100%;
}
.index-archives-img{
	width: 80px;
	height: 50px;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.index-archives-box h3{
	color: #333;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	overflow: hidden;
	padding-right: 20px;
	text-overflow: ellipsis;
	margin-top: 2px;
	white-space: nowrap;
}
.total-data{
	width: calc(100% + 20px);
	margin-left: -10px;
}
.index-archives-info p{
	color: #999;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 15px;
}
.index-archives-data{
	text-align: center;
}
.index-archives-data h5{
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.index-archives-data p{
	color: #999;
	font-size: 13px;
	line-height: 13px;
	margin-top:15px;
}
.data-ads{
	background-color: #fff;
	border-radius: 8px;
	width: 100%;
	overflow: hidden;
}
.data-ads img{
	width: 100%;
	display: block;
}
.hot-archives{
	margin-top: 20px;
	width: calc(100% + 20px);
	margin-left: -10px;
}
.hot-archives-box img{
	width: 100%;
}
.hot-archives-pic{
	height: 180px;
	overflow: hidden;
}
.hot-archives-box{
	background: #f6f8f9;
	border-radius: 5px;
	overflow: hidden;
	transition: .3s;
}
.hot-archives-box:hover {
    box-shadow: 0 2px 4px 0 rgb(228 240 250 / 50%), 0 6px 12px 0 rgb(199 207 220 / 50%);
}
.hot-archives-box h3{
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #333;
	display: -webkit-box;
	font-size: 14px;
	font-weight: 700;
	height: 48px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	padding: 0px 10px;
	margin: 10px 0px;
}
.hot-archives-info p{
	color: #999;
	font-size: 12px;
	line-height: 1em;
	padding: 0px 10px;
	margin-bottom: 10px;
}
.hot-archives-info p i{
	margin-right: 5px;
}
.footer{
	color: #9d9d9d;
	margin-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	font-family: PingFangSC-Regular,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,SimSun,Arial,sans-serif;
	font-size: 12px;
}
.footer-links{
	margin-bottom: 20px;
	
}
.footer-links a{
	color: #9d9d9d;
	line-height: 12px;
	margin-right: 20px;
}
.tool{
	width: 50px;
	position: fixed;
	z-index: 800;
	right: 10px;
	bottom: 20px;
}
.tool-box{
	background-color: #fff;
	border: 1px solid #e9ecf3;
	color: #9d9d9d;
	font-size: 12px;
	line-height: 16px;
	padding: 12px;
	text-align: center;
}
.tool-box a{
	color: #9d9d9d;
}
.tool-box a i{
	display: block;
	margin-bottom: 10px;
}
.toTop{
	margin-bottom: 20px;
}
.tool-box.toTop a{
	margin-bottom: 0px;
	line-height: 20px;
	font-size: 15px;
}
.comment-box,.order-box{
	width: 100%;
	padding: 15px 0px;
	border-bottom: #e9ecf3 1px solid;
	overflow: hidden;
}
.comment-avatar{
	width: 50px;
}
.comment-avatar img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comment-main{
	width: calc(100% - 50px);
}
.userlv{
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 5px;
	color: #fff;
	background-color: #ba21a8;
}
.comment-userinfo{
	margin-bottom: 10px;
}
.comment-userinfo a{
	color: #000;
}
.comment-userinfo .comment-date{
	color: #999;
}
.comment-text{
	color: #000;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	line-height: 24px;
	margin-top: 6px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.new-comment{
	margin-top: 15px;
}
.comment-links{
	color: #666;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	line-height: 22px;
	margin-top: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.isLogin{
	z-index: 11000;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	height: 100vh;
}
.isLogin-bg{
	z-index: 11001;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.isLogin-bg img{
	width: 100%;
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);    
	filter: blur(10px); 
	transform: scale(1.2);
}
.isLogin-bg-sh{
	z-index: 11002;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #000000;
	opacity: 0.3;
}
.isLogin-main{
	z-index: 11003;
	position: fixed;
	top: 15%;
	left: 0;
	width: 100%;
}
.isLogin-box{
	width: 350px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px 40px;
	position: relative;
	opacity: 0.95;
}
.isLogin-logo{
	width: 100%;
	margin: 20px 0px 15px 0px;
}
.isLogin-logo img{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.box-input{
	width: 100%;
	position: relative;
	padding: 10px 0px;
}
.box-input label{
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}
.box-input label span{
	margin-left: 5px;
	font-size: 13px;
	color: #666;
}
.box-input input{
	height: 38px;
	line-height: 38px;
	width: 100%;
	padding: 5px 10px;
}
.box-btn{
	width: 100%;
	padding: 10px 0px;
}
.box-btn button{
	width: 100%;
	background-color: #3855d5;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
.form-links{
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
}
.form-links a{
	margin: 0px 5px;
}
.box-input .send{
	display: block;
	position: absolute;
	right: 0px;
	top: 10px;
	line-height: 38px;
	text-align: center;
	width: 60px;
	height: 38px;
}
.box-input .send.sended{
	display: none;
}
.user-nav{
	box-shadow: 0 3px 8px rgb(215 220 233 / 50%);
	width:150px;
	background-color: #fff;
	border-radius: 4px;
	padding: 15px 0px;
	position: absolute;
	right: 0px;
	top: 50px;
	display: none;
}
.user:hover .user-nav{
	display: block;
}
.user-nav a{
	color: #000000;
}
.user-nav-box a{
	display: block;
	width: 100px;
	padding: 0px 20px;
	line-height: 40px;
	height: 40px;
	width: 100%;
	font-size: 14px;
}
.user-nav-box a:hover{
	background-color: #f6f8f9;
}
.user-nav-box i{
	margin-right: 10px;
}
.tomenu{
	width: 50px;
	height: 60px;
	line-height: 60px;
	display: none;
}
.tomenu a{
	color: #000000;
	font-size: 18px;
}
.tomenu a i{
	font-size: 25px;
}
.header-left-bg{
	display: none;
}
.more{
	text-align: center;
	display: none;
}
.more a{
	display: block;
	width: 100%;
	line-height: 35px;
	height: 35px;
}
.dataShow{
	text-align: center;
	padding: 50px 0px;
	width: 100%;
	color: #666;
}
.dataShow i{
	font-size: 35px;
}
.dataShow p{
	margin-top: 10px;
	font-size: 14px;
}
.layer-form{
	padding:15px 20px;
}
.text{
	width: 100%;
	border-radius: 4px;
	border: solid 1px #ddd;
	resize:none;
}
.reply-text{
	height: 100px;
	font-size: 14px;
	line-height: 20px;
}
.comments-owo{
	position: relative;
	width: 100%;
}
.owo{
	width: 230px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 30px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.toOwo{
	
	color: #333;
}
.toOwo i{
	font-size: 22px;
}
.owo{
	display: none;
}
.owo-list{
	width: 100%;
	padding: 5px;
	height: 95px;
	overflow: auto;
}
.owo-lit-box{
	height: 30px;
	padding: 3px;
	width: 30px;
	float: left;
}
.owo-lit-box img{
	width: 100%;
}
.owo-type{
	height: 30px;
	line-height: 30px;
	border-top: solid 1px #ddd;
}
.owo-type a{
	padding: 0px 10px;
	color: #666;
	font-size: 12px;
	display: block;
	float: left;
}
.owo-type a.active{
	background: #f3f3f3;
}
.mark-box{
	position: relative;
	padding: 5px;
}
.mark-main{
	border: solid 1px #F1F1F1;
	padding: 18px 15px 18px 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
.archives-img {
	width: 80px;
	height: 50px;
	border-radius: 5px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.archives-img img{
	width: 100%;
}
.archives-info h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
    margin-top: 2px;
    white-space: nowrap;
}
.archives-info h3 a{
	color: #333;
}
.archives-info p {
    color: #999;
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
}
.userEdit{
	padding:20px 60px;
}
.data-box .box-input input{
	border: #9d9d9d solid 1px;
	
}
.data-box .box-btn{
	text-align: center;
}
.data-box button{
	border-radius: 4px;
	max-width: 200px;
}

.input-text{
	border: #9d9d9d solid 1px;
	width: 100%;
	resize: none;
}
.address textarea{
	height: 80px;
}
.userEdit-avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	border: solid 1px #ddd;
	margin: 0 auto;
}
.input-links{
	position: absolute;
	right: 0px;
	width: auto;
	padding: 0px 10px;
	line-height: 36px;
	top: 37px;
}
.input-links a{
	margin: 0 5px;
}
.data-top button{
	color: #fff;
	padding: 0px 15px;
	border-radius: 5px;
}
.data-header{
	padding: 0px 10px;
	margin-top: 10px;
}
.data-header-main{
	
	height: 50px;
	border-bottom: 1px solid #e9ecf3;
}
.data-type{
	padding-top: 10px;
}
.data-type a{
	color: #000000;
	font-size: 15px;
	margin-right: 25px;
	padding-bottom: 16px;
	border-bottom: solid 2px #fff;
}
.data-type a.active{
	font-weight: bold;
	border-bottom: solid 2px #3855d5;
}
.data-search-box{
	height: 30px;
	width: 210px;
	background-color: #fff;
	border: 1px solid #e9ecf3;
	border-radius: 8px;
	overflow: hidden;
}
.data-search-box input{
	display: block;
	width: 168px;
	height: 30px;
	border: none;
	outline: none;
	float: left;
	padding: 0px 15px;
}
.data-search-box button{
	border: none;
	outline: none;
	float:left;
	display: block;
	height: 30px;
	line-height: 30px;
	background: none;
	width: 40px;
}
.archives-list{
	padding: 0px 10px;
}
.archives-list-box{
	padding: 30px 0px;
	border-bottom: solid 1px #f3f3f3;
}
.archives-list-pic{
	width: 160px;
	margin-right: 20px;
	height: 106px;
	border-radius: 5px;
	overflow: hidden;
}
.archives-list-pic img{
	width: 100%;
	display: block;
	
}
.archives-list-pic:hover img{
	transform: scale(1.07);
}
.archives-list-info{
	width: calc(100% - 180px);
	float: left;
}
.archives-list-title{
	font-size: 16px;
}
.archives-list-title a{
	color: #000000;
}
.archives-list-title span{
	font-size: 15px;
	color: #999;
}
.archives-list-status{
	margin-top: 12px;
}
.archives-list-status span{
	font-size: 12px;
	line-height: 12px;
	margin-right: 6px;
	padding: 4px 8px;
}
.archives-list-links{
	margin-top: 32px;
	overflow: hidden;
}
.archives-list-data span{
	color: #666;
	margin-right: 18px;
}
.archives-list-data span i{
	margin-right: 5px;
}
.archives-list-btn a{
	margin-left: 10px;
	font-size: 14px;
}
.postConcent{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
}
.postConcent .title input{
	border: none !important;
	outline: none;
	color: #333;
	font-size: 26px;
	padding: 0;
	font-weight: 500;
	
}
.postConcent .box-input.title{
	border-bottom: 1px solid #e9ecf3;
	margin-bottom: 15px;
}
.box-tag-main{
	padding: 10px 0px
}
.toTag{
	display: inline-block;
	width: auto;
	color: #3855d5;
	padding: 5px 10px;
	border-radius: 5px;
	border: solid 1px #3855d5;
	float: left;
	margin: 5px;
}
.toTag i{
	color: #3855d5;
}
.toTag.active{
	background-color: #3855d5;
	color: #fff !important;
}
.shop-box{
	color: #333;
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	border-bottom: solid 1px #F3F3F3;
}
.shop-box i{
	color: #d93444;
	margin-right: 10px;
}
.shop-links .shop-price{
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.shop-input{
	max-width: 500px;
}
.shop-type>div{
	padding: 10px;
	
}
.shop-type a{
	display: block;
	border: solid 1px #0000FF;
	line-height: 35px;
	height: 35px;
	text-align: center;
	font-weight: bold;
}
.shop-type a.active{
	background-color: #0000FF;
	color: #fff !important;
}
.order-title{
	font-size: 16px;
	line-height: 30px;
	margin-bottom:12px;
	font-weight: bold;
	color: #000000;
}
.order-type{
	padding: 0px 12px;
	background-color: #0000FF;
	color: #fff;
	border-radius: 4px;
	font-weight: normal;
	font-size: 14px;
}
.order-shop{
	padding: 15px 15px;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}
.order-shop a{
	color: #333;
}
.order-date{
	margin-top: 5px;
	text-align: right;
}
.order-data .order-price{
	font-size: 18px;
	font-weight: bold;
}
.order-data a{
	margin-left: 10px;
}
.pay{
	padding: 10px 40px;
	margin-top: 20px;
}
.pay-input{
	max-width: 300px;
	overflow: hidden;
	border-radius: 4px;
	height: 35px;
	border: solid 1px #0000FF;
	margin-top: 20px;
	margin-bottom: 25px;
}
.pay-input input{
	width: calc(100% - 80px);
	border: none;
	padding: 0px 15px;
	float: left;
	height: 35px;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;
}
.pay-input button{
	display: block;
	border-radius: 0px;
	height: 35px;
	line-height: 35px;
	width: 80px;
	float: left;
	background-color: #0000FF;
	color: #fff;
}
.pay-tips{
	line-height: 28px;
}
.pay-tips h5{
	font-size: 17px;
	margin-bottom: 10px;
}
.pay-price{
	font-size: 25px;
	font-weight: bold;
}
.data-box-title .title-tips{
	font-size: 13px;
	margin-left: 5px;
	font-weight: normal;
}
.tocan{
	position: absolute;
	top: 15px;
	color: #000;
	right: 15px;
}
.tocan i{
	font-size: 18px;
	margin-right: 5px;
}
.scanPic{
	width: 270px;
	height: 270px;
}
.backLogin{
	position: absolute;
	top: 15px;
	right: 15px;
	display: none;
}
.backLogin i{
	font-size: 18px;
	margin-right: 5px;
}
.vip-concent{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	padding: 5px;
}
.vip-box{
	padding: 5px;
	width: 25%;
	float: left;
	text-align: center;
}
.vip-main{
	background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
	padding: 30px 5px;
	border-radius: 10px;
	color: #ffffff;
}
.vip-box.permanentVip .vip-main{
	background-image: linear-gradient(45deg, #ff9700, #ed1c24);
	color: #ffffff;
}
.vip-main h5{
	font-size: 18px;
	margin-bottom: 10px;
}
.vip-main h5 span{
	font-size: 15px;
	margin-left: 5px;
	font-weight: normal;
	
}
.vip-main p{
	margin-bottom: 15px;
}
.vip-main button{
	background-color: #333333;
	color: #ffffff;
	position: relative;
	border: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 15px;
	font-size: 14px;
	height: 32px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	margin-left: initial;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	margin-right: initial;
}
@media all and (max-width: 1600px) {
	.home-left,.home-right{
		width: 100%;
	}
	
}
@media all and (max-width: 1230px) {
	.isLogin-bg img{
		width: auto;
		height: 100vh;
	}
	.header-left{
		transition: 0.3s all;
		-webkit-transition:0.3s all;
		-moz-transition:0.3s all;
		-o-transition:0.3s all;
		-ms-transition:0.3s all;
		left: -240px;
	}
	.main{
		width: 100%;
	}
	.tomenu{
		display: block;
	}
	.header-left.wapShow{
		left: 0;
	}
	.header-left-bg.wapShow{
		display: block;
	}
	.header-left-bg{
		
		z-index: 890;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #000000;
		opacity: 0.3;
	}
}
@media all and (max-width: 980px) {
	.header-top{
		padding: 0px 15px;
	}
	.content{
		padding: 0px 15px;
	}
}
@media all and (max-width: 917px) {
	.hot-archives>div{
		width: 100%;
	}
	.index-archives-box>a>div{
		width: 100%;
	}
	.index-archives-data{
		display: none;
	}
	.index-archives-box h3{
		padding-right: 0px;
	}
	.hot-archives-pic{
		height: 250px;
	}
	.isLogin-main{
		top: 8%;
	}
	.comment-links .reply{
		float: none;
		text-align: right;
		margin-top: 10px;
		font-size: 14px;
	}
	.mark-box{
		width: 100%;
	}
	.data-box{
		padding: 20px 15px;
	}
	.archives-list-pic{
		width: 100%;
		height: 300px;
	}
	.archives-list-title span{
		display: block;
		float: none;
		margin-top: 5px;
	}
	.archives-list-info{
		width: 100%;
		margin-top: 10px;
	}
}
@media all and (max-width: 660px) {
	.total-data-box h5{
		font-size: 20px;
		padding:0px
	}
	.total-data-box{
		padding: 15px 18px 15px 18px
	}
	.hot-archives-pic{
		height: 200px;
	}
	.content{
		padding: 0px 7.5px;
	}
	.padding{
		padding: 7.5px;
	}
	.main{
		padding-top: 70px;
	}
	.pay{
		margin-top: 10px;
		padding: 10px;
	}
	.archives-list-pic{
		height: 250px;
	}
	.data-search{
		float: none;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.data-search-box{
		float: right;
	}
	.data-header-main{
		height: 95px;
	}
	.archives-list-links{
		margin-top: 15px;
	}
	.more a{
		background: #f3f3f3;
		color: #666;
	}
}
@media all and (max-width: 460px) {
	.top-links{
		display: none;
	}
	.logo{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.tomenu{
		position: fixed;
		left: 15px;
		top: 0px;
	}
	.user{
		position: fixed;
		right: 15px;
		top: 0px;
	}
	.header-left{
		width: 200px;
	}
	.archives-list-pic{
		height: 190px;
	}
	.data-search-box{
		width: 100%;
		height: 35px;
	}
	.data-search-box input{
		width: calc(100% - 40px);
		height: 35px;
	}
	.data-search-box button{
		height: 35px;
		line-height: 35px;
	}
	.archives-list-btn,.archives-list-data{
		float: none;
		font-size: 13px;
	}
	.archives-list-btn{
		margin-top: 15px;
		text-align: right;
		font-size: 13px;
	}
	.archives-list-box{
		padding: 20px 0px;
	}
	.comment-box, .order-box{
		font-size: 13px;
	}
	
}
@media all and (max-width: 380px) {
	.total-data-box p{
		font-size: 13px;
	}
	.total-data-box{
		padding: 10px 12px;
	}
	.archives-list-pic{
		height: 150px;
	}
	.data-type a{
		margin-right: 20px;
	}
	
}