.RuleUser *{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.RuleUser{
	font-size:15px;
	color:#202122;
}
.RuleUser input[type=text],.RuleUser input[type=password],.RuleUser input[type=email],.RuleUser textarea,.RuleUser select {
    background: #FFF;
    border: 1px solid #333333;
    padding: 7px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.RuleUser-layer-form input{
	background: #FFF;
	border: 1px solid #333333;
	padding: 7px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.RuleUser input:disabled,.RuleUser textarea:disabled{
	background-color: #F3f3f3;
}
.RuleUser button,.RuleUser-layer-form button{
	height: 40px;
	line-height: 40px;
	border: none;
	outline: none;
	width: auto;
	border-radius: 2px;
	padding: 0px 10px;
	cursor: pointer;
}
.RuleUser a{
	text-decoration:none;
	color:#3855d5;
	text-decoration: none;
}
.RuleUser img{
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-ms-transition: 0.3s all;
}
.RuleUser .margin-top{
	margin-top: 20px;
}
.RuleUser-UserForm{
	z-index: 9990;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.RuleUser-UserForm-bg{
	z-index: 9991;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #000;
	opacity: 0.3;
}
.RuleUser-UserForm-main{
	z-index: 11003;
	position: fixed;
	top: 15%;
	left: 0;
	width: 100%;
}
.RuleUser-UserForm-box{
	width: 350px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px 40px;
	position: relative;
	opacity: 0.95;
	border-radius: 4px;
}
.RuleUser-UserForm-logo{
	width: 100%;
	margin: 20px 0px 15px 0px;
}
.RuleUser-UserForm-logo img{
	display: block;
	width: 200px;
	margin: 0 auto;
}
.RuleUser-input{
	width: 100%;
	position: relative;
	padding: 10px 0px;
}
.RuleUser-input label{
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}
.RuleUser-input label span{
	margin-left: 5px;
	font-size: 13px;
	color: #666;
}
.RuleUser-input input{
	height: 38px;
	line-height: 38px;
	width: 100%;
	padding: 5px 10px;
}
.RuleUser-btn{
	width: 100%;
	padding: 10px 0px;
}
.RuleUser-btn button{
	width: 100%;
	background-color: #3855d5;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
.RuleUserForm-links{
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
}
.RuleUserForm-links a{
	margin: 0px 5px;
}
.RuleUser-input .send{
	display: block;
	position: absolute;
	right: 0px;
	top: 10px;
	line-height: 38px;
	text-align: center;
	width: 60px;
	height: 38px;
}
.RuleUser-input .send.sended{
	display: none;
}
.RuleUser .RuleUser-tocan{
	position: absolute;
	top: 15px;
	color: #000;
	left: 15px;
}
.RuleUser-tocan i{
	font-size: 18px;
	margin-right: 5px;
}
.RuleUser-scanPic{
	width: 270px;
	height: 270px;
}
.RuleUser-backLogin{
	position: absolute;
	top: 15px;
	left: 15px;
	display: none;
}
.closeRuleUser{
	position: absolute;
	top: -10px;
	right: -10px;
	display: block;
	width: 30px;
	opacity: 0.9;
	height: 30px;
	line-height: 26px;
	border-radius: 50%;
	text-align: center;
	background-color: #d93444;
	border: solid 2px rgba(0,0,0,0.5);
	font-size: 18px;
}
.closeRuleUser i{
	color: #fff;
}
.RuleUser-backLogin i{
	font-size: 18px;
	margin-right: 5px;
}
.RuleUser .text-center{
	text-align: center;
}
#RuleUser-PostBtn{
	width: 100%;
	max-width: 300px;
	padding: 10px 0px;
	margin: 10px auto;
	overflow: hidden;
	text-align: center;
}
#RuleUser-PostBtn *,#RuleUser-PostShop *{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 14px;
}
#RuleUser-PostShop{
	width: 100%;
	max-width: 500px;
	margin: 10px auto;
	padding: 10px;
	box-sizing: border-box;
	
}
#RuleUser-PostShop .PostShop-main{
	overflow: hidden;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	box-sizing: border-box;
}
#RuleUser-PostShop .PostShop-pic{
	width: 150px;
	height: 100px;
	overflow: hidden;
	float: left;
	border-radius: 5px;
}
#RuleUser-PostShop .PostShop-text{
	width: calc(100% - 150px);
	padding-left: 15px;
	box-sizing: border-box;
	float: left;
}
#RuleUser-PostShop .PostShop-text h5{
	font-size: 17px;
	margin-bottom: 6px;
	overflow: hidden;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
#RuleUser-PostShop  .PostShop-btn{
	margin-top: 8px;
}
#RuleUser-PostShop  .PostShop-btn a{
	text-decoration: none;
}
#RuleUser-PostShop .PostShop-text  .PostShop-price{
	font-size: 20px;
	color: #e54d42!important;
	font-weight: bold;
}
#RuleUser-PostShop .PostShop-text  .PostShop-info{
	margin-top: 12px;
	display: block;
	float: left;
}
#RuleUser-PostShop .PostShop-text  .PostShop-buy{
	float: right;
	padding: 6px 12px;
	background-color: #e54d42!important;
	color: #fff;
	border-radius: 6px;
}
#RuleUser-PostShop .PostShop-text  .PostShop-buy i{
	font-size: 17px;
}
.PostShop-text h5{
	margin: 0;
}
.PostShop-pic img{
	width: 100%;
	display: block;
}
.RuleUser-PostBtn-box{
	float: left;
	width: 33.333%;
}
.RuleUser-PostBtn-box a{
	text-decoration: none;
}
#RuleUser-PostBtn .RuleUser-PostBtn-box i{
	display: block;
	line-height: 55px;
	margin: 0 auto;
	border-radius: 50%;
	width: 55px;
	color: #fff;
	height: 55px;
	font-size: 22px;
	text-align: center;
	background-color: #0055AA;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
#RuleUser-PostBtn .RuleUser-PostBtn-box p{
	margin: 0;
	color: #333;
	font-size: 14px;
	margin-top: 5px;
}
.RuleUser-PostBtn-box:nth-child(1) i{
	background-color:#e54d42!important;
}
.RuleUser-PostBtn-box:nth-child(3) i{
	background-color: #fbbd08!important;
	color: #333!important;
}
.RuleUser-layer-form{
	padding: 10px;
}
.RuleUser-layer-form *{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.toReward-main{
	overflow: hidden;
}
.toReward-box{
	width: 50%;
	float: left;
	padding: 5px;
}
.toReward-box a{
	display: block;
	height: 40px;
	width: 100%;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	border: solid 1px #0055AA;
}
.toReward-box.active a{
	background-color: #0055AA;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
	color: #fff;
}
.RuleUser-layer-btn{
	padding: 5px;
	margin-top: 10px;
	text-align: center;
}
.RuleUser-layer-btn button{
	width: 100%;
	background-color: #fbbd08!important;
	color: #333!important;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
}
@media all and (max-width: 500px) {
	#RuleUser-PostShop .PostShop-pic{
		width: 100%;
		height: 230px;
	}
	#RuleUser-PostShop .PostShop-text{
		width: 100%;
		margin-top: 10px;
	}
}
@media all and (max-width: 380px) {
	#RuleUser-PostShop .PostShop-pic{
		height: 180px;
	}
	#RuleUser-PostShop .PostShop-text h5{
		font-size: 15px;
	}
	#RuleUser-PostShop .PostShop-text .PostShop-price{
		font-size: 17px;
	}
	#RuleUser-PostBtn .RuleUser-PostBtn-box i{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}